
  <nav class="navbar mt-4 py-3 text-dark navbar-bottom rodNav">
    <div class=" textoFooter text-sm-start">
      <p>©2021, Clínica G8. Todos os direitos reservados.</p>
      <div class="align-self-end">
       
        <p>Sistema Desenvolvido Por:</p> 
            <div class="d-flex flex-wrap justify-content-sm-start justify-content-center">
              <a class="text-decoration-none text-reset me-1 " href="https://github.com/raunylima">Eudardo</a>
              <a class="text-decoration-none text-reset mx-2" href="https://github.com/Djou-D">Dionatam</a>
              <a class="text-decoration-none text-reset mx-2" href="https://github.com/raunylima">Mariana</a>
              <a class="text-decoration-none text-reset ms-1" href="https://github.com/raunylima">Rauny</a>
            </div>

            
      </div>
    </div>

     <div id="footerLink">

      <ul>
        <li>
          <a class="text-primary"  href="/admin/medicos">Acesso ADM</a>
        </li>

        <li>
          <a class="text-primary"  href="/usuarios/medicos">Acesso Geral</a>
        </li>
      </ul>
     
    </div>
     
  </nav>

  
