
<div class="container bodyLogin1">
    <div class="row justify-content-center">
        <div class="card my-3" style="width: 300px;">
            <div class="card-body">
                <h4 class="text-center">Login</h4>
                <form action="/admin/login" method="post">
                    <label for="email">Email</label>
                    <input type="email" class="form-control mb-3" name="email" required>

                    <label for="senha">Senha</label>
                    <input type="password" class="form-control mb-3" name="senha" required>
                    <br>
                    <div class="text-sm-start text-center">
                        <button class="btn btn-outline-success" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>